BASE_URL=http://localhost:5173
API_BASE_URL=http://localhost:3000/
DATABASE_URL=postgresql://user:password@host:port/dbname

E2E_ADMIN_EMAIL=admin@example.test
E2E_ADMIN_PASSWORD=changeme

E2E_HOUSEHOLD_A_USER1_EMAIL=household-a-1@example.test
E2E_HOUSEHOLD_A_USER1_PASSWORD=changeme

E2E_HOUSEHOLD_A_USER2_EMAIL=household-a-2@example.test
E2E_HOUSEHOLD_A_USER2_PASSWORD=changeme

E2E_HOUSEHOLD_B_USER1_EMAIL=household-b-1@example.test
E2E_HOUSEHOLD_B_USER1_PASSWORD=changeme